@model GivingActually_May.Models.RegisterModel
@{
    ViewBag.Title = "Password Reset";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sign in Form with Avatar Image</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <style type="text/css">
        body {
            color: #fff;
            background: #9e9e9e;
            font-family: Bookman Old Style;
        }

        .form-control {
            min-height: 41px;
            background: #fff;
            border-color: #e3e3e3;
            box-shadow: none !important;
            border-radius: 4px;
        }

            .form-control:focus {
                border-color: #99c432;
            }

        .signup-form {
            width: 50%;
            margin: 0 auto;
            padding: 100px 0 30px;
        }

            .signup-form form {
                color: #999;
                border-radius: 10px;
                margin-bottom: 15px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
                position: relative;
            }

            .signup-form h2 {
                font-size: 24px;
                color: #454959;
                margin: 45px 0 25px;
                font-family: Bookman Old Style;
            }

            .signup-form .avatar {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -50px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #18bc9c;
                padding: 15px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }

                .signup-form .avatar span {
                    width: 100%;
                    padding-top: 25px;
                    padding-left: 25px;
                    color: white;
                    height: 100%;
                }

            .signup-form .btn {
                color: #fff;
                border-radius: 4px;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }

        .login-btn {
            font-size: 16px;
            font-weight: bold;
            background: #18bc9c;
            margin-bottom: 20px;
        }

            .login-btn:hover, .login-btn:active {
                background: #86ac2d !important;
            }

        .social-btn {
            padding-bottom: 15px;
        }

            .social-btn .btn {
                margin-bottom: 10px;
                font-size: 14px;
                text-align: left;
            }

                .social-btn .btn:hover {
                    opacity: 0.8;
                    text-decoration: none;
                }

            .social-btn .btn-primary {
                background: #507cc0;
            }

            .social-btn .btn-info {
                background: #64ccf1;
            }

            .social-btn .btn-danger {
                background: #df4930;
            }

            .social-btn .btn i {
                float: left;
                margin: 1px 10px 0 5px;
                min-width: 20px;
                font-size: 18px;
            }

        .or-seperator {
            height: 0;
            margin: 0 auto 20px;
            text-align: center;
            border-top: 1px solid #e0e0e0;
            width: 30%;
        }

            .or-seperator i {
                padding: 0 10px;
                font-size: 15px;
                text-align: center;
                background: #fff;
                display: inline-block;
                position: relative;
                top: -13px;
                z-index: 1;
            }

        .signup-form a {
            color: #fff;
            text-decoration: underline;
        }

        .signup-form form a {
            color: #999;
            text-decoration: none;
        }

            .signup-form a:hover, .signup-form form a:hover {
                text-decoration: none;
            }

            .signup-form form a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="signup-form">
        @using (Html.BeginForm("PasswordReset", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "msform", role = "form" }))
        {
            <div class="avatar" style="align-content:center">
                <span class="glyphicon glyphicon-user" style="color:white">+</span>
            </div>

            <h2 class="text-center">Reset Your Account Password</h2>
            @*<p class="hint-text text-center">Sign up with your social media account or email address</p>*@
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i><i style="color:red">*</i></span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "EmailId", @required = "required", @type = "email" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i><i style="color:red">*</i></span>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-check"></i><i style="color:red">*</i>
                    </span>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @type = "password", @required = "required" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p><h4 style="color:red">@ViewBag.RegisterMessage</h4></p>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Change Passwrod</button>
            </div>

        }
        <div class="text-center">Already Know Your Password? <a href="/Home/Login/">Login here</a></div>
    </div>
</body>